* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px;
  min-height: 100vh;
  min-width: 100vh;
  max-width: 1400px;
  /* background: rgb(252, 140, 3); */
  /* background: rgb(114, 247, 69); */
  /* background: rgb(62, 134, 207); */
  /* background: rgb(159, 82, 227); */
  /* background: rgb(191, 204, 222); */
  /* background: rgb(206, 232, 245); */
  /* background: rgb(245, 250, 245); */
  /* background: rgba(90, 159, 237, 0.2);0 */
  /* background: rgb(80, 120, 163); */
  /* background: rgb(68, 117, 171); */
  background: rgb(51, 102, 158);
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin: 70px auto;
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 20px;
  width: 400px;
  min-width: 300px;
  min-height: 150px;
  /*   border:1px solid blue; */
  border-radius: 10px;
  /* background: #2980b9; */
  /* background: rgb(43, 113, 204); */
  background: rgb(140, 179, 222);
  color: #fff;
  font-weight: bold;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*   border:1px solid green; */
}

input {
  height: 35px;
  border-radius: 5px;
  border: none;
}

button {
  margin: auto;
  margin-top: 10px;
  width: 90px;
  height: 35px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  color: #2c3e50;
}

button:hover {
  cursor: pointer;
  background: #2c3e50;
  color: #ecf0f1;
}

.person {
  width:fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 5px;
  min-width: 500px;
  height: auto;
  background: #bdc3c7;
  margin: 20px;
  padding: 10px;
  border-radius: 17px;
  /* background: rgb(141, 224, 164); */
  /* background: rgb(96, 219, 101); */
  background: rgb(82, 247, 82);
}

.person h1 {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-word;
  padding: 15px;
  color: rgb(67, 79, 92);
  background: #fff;
  border-radius: 4px;
}

.person h2 {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-word;
  padding: 20px;
  color: grey;
  background: #fff;
  border-radius: 4px;
}
